<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text text-center">INFORMACIÓN CONTRATO GENERAL</h4>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label>NÚMERO CONTRATO</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.NumeroContrato" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>VIGENCIA</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.Vigencia" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>OBJETO DEL CONTRATO</label>
                    <textarea rows="4" type="text" class="form-control" ng-model="contratoGeneral.ObjetoContrato" disabled></textarea>
                </div>
                <div class="form-group col-lg-4">
                    <label>PLAZO DE EJECUCIÓN</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.PlazoEjecucion" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>FORMA DE PAGO</label>
                    <select class="form-control" ng-model="contratoGeneral.FormaPago" disabled>
                        <option value="">--SELECCIONE--</option>
                        <option>SI</option>
                        <option>NO</option>
                    </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>ORDENADOR DEL GASTO</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.OrdenadorGasto" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>CLAÚSULA REGISTRO PRESUPUESTAL</label>
                    <input type="bool" class="form-control" ng-model="contratoGeneral.ClausulaRegistroPresupuestal" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>SEDE SOLICITANTE</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.SedeSolicitante" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>DEPENDENCIA SOLICITANTE</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.DependenciaSolicitante" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>NÚMERO DE SOLICITUD DE NECESIDAD</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.NumeroSolicitudNecesidad" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>NÚMERO CDP</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.NumeroCdp" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>CONTRATISTA</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.Contratista" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>UNIDAD EJECUCIÓN</label>
                    <select class="form-control" ng-model="contratoGeneral.UnidadEjecucion" disabled>
                        <option value="">--SELECCIONE--</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>VALOR CONTRATO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.ValorContrato" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>JUSTIFICACIÓN</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.Justificacion" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>FORMA DE PAGO</label>
                    <input type="text" class="form-control" ng-model="DescripcionFormaPago" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>CONDICIONES</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.Condiciones" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>UNIDAD EJECUTORA</label>
                    <select class="form-control" ng-model="contratoGeneral.UnidadEjecutora" disabled>
                        <option value="">--SELECCIONE--</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPOLOGÍA CONTRATO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TipologiaContrato" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPO COMPROMISO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TipoCompromiso" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>MODALIDAD DE SELECCIÓN</label>
                    <input type="integer" class="form-control" ng-model="contratoGeneral.ModalidadSeleccion" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>PROCEDIMIENTO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.Procedimiento" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>RÉGIMEN DE CONTRATACIÓN</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.RegimenContratacion" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPO GASTO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TipoGasto" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TEMA GASTO INVERSIÓN</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TemaGastoInversion" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>ORIGEN PRESUPUESTO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.OrigenPresupuesto" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>ORIGEN RECURSOS</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.OrigenRecursos" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPO MONEDA</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TipoMoneda" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>VALOR CONTRATO (MONEDA EXTRANJERA)</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.ValorContratoMe" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>VALOR TASA DE CAMBIO</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.ValorTasaCambio" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPO DE CONTROL</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.TipoControl" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>OBSERVACIONES</label>
                    <textarea rows="4" type="text" class="form-control" ng-model="contratoGeneral.Observaciones" disabled></textarea>
                </div>
                <div class="form-group col-lg-4">
                    <label>SUPERVISOR</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.Supervisor" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>CLASE CONTRATISTA</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.ClaseContratista" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>CONVENIO</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.Convenio" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>NÚMERO CONSTANCIA</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.NumeroConstancia" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>ESTADO</label>
                    <input type="bool" class="form-control" ng-model="contratoGeneral.Estado" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>REGISTRO PRESUPUESTAL</label>
                    <input type="number" class="form-control" ng-model="contratoGeneral.RegistroPresupuestal" disabled>
                </div>
                <div class="form-group col-lg-4">
                    <label>TIPO DE CONTRATO</label>
                    <select type="number" class="form-control" ng-model="contratoGeneral.TipoContrato" disabled>
                        <option value="">--SELECCIONE--</option>
                        <option value=1>SI</option>
                    </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>LUGAR DE EJECUCIÓN</label>
                    <select type="number" class="form-control" ng-model="contratoGeneral.LugarEjecucion" disabled>
                        <option value="">--SELECCIONE--</option>
                        <option>SI</option>
                    </select>
                </div>
                <div class="form-group col-lg-4">
                    <label>ACTIVIDADES</label>
                    <input type="text" class="form-control" ng-model="contratoGeneral.Actividades" disabled>
                </div>
            </div>
        </form>
    </div>
</div>