<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text text-center">INFORMACIÓN PERSONAL</h4>
    </div>
    <div class="panel-body">
    <div class="panel panel-default col-lg-12">
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>DOCUMENTO</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.Id" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>CIUDAD DE EXPEDICIÓN</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>FECHA DE EXPEDICIÓN</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.FechaExpedicionDocumento" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>PRIMER NOMBRE</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.PrimerNombre" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>SEGUNDO NOMBRE</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.SegundoNombre" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>PRIMER APELLIDO</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.PrimerApellido" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>SEGUNDO APELLIDO</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.SegundoApellido" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>PAÍS DE NACIMIENTO</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>GÉNERO</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.Genero" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ESTADO CÍVIL</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.EstadoCivil" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>ARL</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>EPS</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>FONDO DE PENSIÓN</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>CAJA DE COMPENSACIÓN</label>
                            <input type="text" class="form-control" ng-model="informacionPersonal.persona.NumDocumentoPersona" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                COMUNIDAD LGBT
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.ComunidadLgbt" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                CABEZA DE FAMILIA
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.CabezaFamilia" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                PERSONAS A CARGO
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.PersonasACargo" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                DISCAPACITADO
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.Discapacitado" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                DECLARANTE DE RENTA
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.DeclaranteRenta" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>
                                MEDICINA PREPAGADA
                            </label>
                            <input type="checkbox" ng-model="informacionPersonal.persona.MedicinaPrepagada" disabled>
                        </div>                
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>