<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="page-header"> RESOLUCIONES </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="intro-text text-center"> LISTA DE RESOLUCIONES </h4>
                </div>
                <div class="panel-body">
                    <div ui-grid="resolucionLista.resolucionesInscritas" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>
