<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="page-header"> RESOLUCIÓN </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="intro-text text-center"> FORMATO RESOLUCIÓN </h4>
                  </div>
                  <div class="panel-body">
                    <button type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.verDocentesContratados()">Ver docentes contratados</button>
                      <div class="col-lg-12">
                          <form role="form">
                              <div class="row">
                                  <div class="form-group col-lg-12">
                                      <label>NÚMERO</label>
                                      <input type="number" class="form-control" ng-model="resolucionDetalle.numero">
                                  </div>
                              </div>
                          </form>                               
                      </div>
                      <div class="col-lg-12">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>PREÁMBULO</label>
                                          <textarea rows="5" class="form-control" ng-model="resolucionDetalle.preambulo"></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                      <div class="col-lg-12">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>CONSIDERANDO</label>
                                          <textarea rows="21" class="form-control" ng-model="resolucionDetalle.consideracion"></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                  </div>
            </div>
        </div>
        <div class=" row col-lg-6" id="resolucion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="intro-text text-center">VISTA RESOLUCIÓN</h4>
                    </div>
                    <div class="panel-body">
                        <button type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.generarResolucion()">Visualizar resolución actualizada</button>
                        <iframe id="vistaPDF" frameborder='0' width='100%' height='700'> </iframe>
                    </div>
                </div>
            </div>
                      <div class="col-lg-12">
                        <label>RESUELVE</label>
                          <div class="panel panel-default">
                              <div class="panel-body">                                    
                                  <div class="col-lg-4" ng-repeat="i in resolucionDetalle.getNumeros(resolucionDetalle.articulos)">
                                    <label>ARTÍCULO {{i+1}}</label>
                                      <div class="panel panel-default">
                                          <div class="panel-body">
                                              <form role="form">
                                                  <div class="row">
                                                      <div class="form-group col-lg-12">
                                                          <label>TEXTO</label>
                                                          <textarea rows="5" class="form-control" ng-model="resolucionDetalle.articulos[i].texto"></textarea>
                                                          <label>PARAGRAFO</label>
                                                          <textarea rows="5" class="form-control" ng-model="resolucionDetalle.articulos[i].paragrafo"></textarea>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <input ng-if="resolucionDetalle.articulos[i].asociado" type="submit" class="form-control" ng-click="asociarTabla(i)" value="Asociar tabla" disabled>
                                                          <input ng-if="!resolucionDetalle.articulos[i].asociado" type="submit" class="form-control btn-success" ng-click="resolucionDetalle.asociarTabla(i)" value="Asociar tabla">
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <input type="submit" class="form-control btn-danger" ng-click="resolucionDetalle.eliminarArticulo(i)" value="Eliminar artículo">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-lg-offset-3">
                                      <input type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.agregarArticulo()" value="Nuevo artículo">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
  </div>

  <script type="text/javascript" src="bower_components\pdfmake\build\pdfmake.js"></script>
  <script type="text/javascript" src="bower_components\pdfmake\build\vfs_fonts.js"></script>
  <script type="text/javascript" src="scripts/conversion.js"></script>
  <script type="text/javascript" src="scripts/resolucion.js"></script>

</div>
